* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-180deg, rgb(246, 101, 183, 0.2), rgb(185, 133, 253, 0.7));
   
}

.calculator { 
    width: 330px;
    height: 450px;
    padding: 50px 50px;
    border-radius: 10px;
}

.calculator{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.calculator-display {
    border: none;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    text-align: end;
    font-weight: 300;
}

.buttons-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.buttons-1 button {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
    color: #000;
}

.buttons-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.edit {
    display: grid;
    grid-template-columns: 1fr;
}

.buttons-2 button {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
    color: #000;
}

.buttons-1 button:hover {
    cursor: pointer;
}

.buttons-2 button:hover {
    cursor: pointer;
}

