* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator { 
    width: 330px;
    height: 450px;
    padding: 50px 50px;
    border-radius: 10px;
    background: #d2d2d2cb;
}

.calculator-display {
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    text-align: end;
    font-weight: 400;
}

.buttons-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.buttons-1 button {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
    color: #000;
}

.buttons-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.edit {
    display: grid;
    grid-template-columns: 1fr;
}

.buttons-2 button {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
    color: #000;
}

.buttons-1 button:hover {
    cursor: pointer;
}

.buttons-2 button:hover {
    cursor: pointer;
}

